global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: promtail
    static_configs:
      - targets:
          - 'promtail:9080'

  - job_name: loki
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'loki:3100'
