global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: promtail
    static_configs:
      - targets:
          - 'promtail:9080'

  - job_name: loki
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'loki:3100'

  - job_name: snmp
    scrape_interval: 60s
    metrics_path: /snmp
    params:
      module: [if_mib]
    static_configs:
      - targets:
          - '192.168.1.4'   # TL-SG2210P switch
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116

  - job_name: snmp_vendor
    scrape_interval: 60s
    metrics_path: /snmp
    params:
      module: [tplink]
    static_configs:
      - targets:
          - '192.168.1.4'   # TL-SG2210P switch (vendor OIDs)
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116
